.about-main {
    font-size: 20px;
    background-image: url("/img/about-bg3.jpg");
    background-size: cover;
    background-position: center; 
    padding: 71px;
}

.about-container {
    background-color: white;
    opacity: .8;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

hr {
    color: $PrimaryColor;
}

p {
    font-family: Roboto;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}

.about-header {
    font-family: Spicy Rice;
    letter-spacing: 4px;
    font-weight: 300;
    color: $SecondaryColor;
    display: flex;
    margin: 0;
    justify-content: center;
}

.list {
    padding: 15px;
    font-family: Spicy Rice;
    color: $SecondaryColor;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-style: italic;
}

.about-images {
    display: flex;
    justify-content: center;
}

.soundcloud {
    margin-top: 0;
    height: 100px;
    width: 100px;
    &:hover {
        transform: scale(1.1);

      }
}

.studio {
    margin-top: 0;
    height: 79px;
    width: 79px;
    padding-top: 8px;

}
