$PrimaryColor: #10da2bd3;
$SecondaryColor: #207db8;

  @mixin header-footer {
    background: rgb(0,24,36);
    background: linear-gradient(87deg, rgba(0,24,36,1) 30%, rgba(16,135,218,1) 100%, rgba(140,140,140,1) 100%);
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
  }

  .header-container{
    width:70%;
    margin:auto;
    overflow:hidden;
  }

  header{
    @include header-footer;
    border-bottom: 2px solid $PrimaryColor;
  }

  h4 {
    letter-spacing: .5px;
    margin-top: 0;
    padding-left: 20px;
    font-style: italic;
  }

  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    letter-spacing: .5px;
    float:left;
    display:inline;
    padding: 10px 20px 0 20px;
  }

  .current {
    color:$PrimaryColor;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
   
    font-weight:bold;
  }
  
  header a:hover{
    color:#ccc;
    font-weight:bold;
  }
  
  footer {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(5, 0, 102) 0%, rgba(32,125,184,1) 58%, rgb(4, 155, 185) 100%);
    color:#ffffff;
    min-height:70px;
    border-top: $PrimaryColor 3px solid;
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  
  .footer-copyright {
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-items: start;
  }

  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li
    {
      float:none;
      text-align:center;
      width:100%;
    }
    header{
      padding-bottom:20px;
    }
  }
  