$PrimaryColor: #10da2bd3;
$SecondaryColor: #207db8;

body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-size: cover;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  /* Header **/

  @mixin header-footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(5, 0, 102) 0%, rgba(32,125,184,1) 58%, rgb(4, 135, 161) 100%);
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
  }

  .header-container{
    width:70%;
    margin:auto;
    overflow:hidden;
  }

  header{
    @include header-footer;
    border-bottom: $PrimaryColor 3px solid;
  }
  
  header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }

  
  .current {
    color:$PrimaryColor;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:$PrimaryColor;
    font-weight:bold;
  }
  
  header a:hover{
    color:#ccc;
    font-weight:bold;
  }
  
  footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(5, 0, 102) 0%, rgba(32,125,184,1) 58%, rgb(4, 155, 185) 100%);
    color:#ffffff;
    min-height:70px;
    // margin-top: -50px;
    border-top: $PrimaryColor 3px solid;
    h3 {
      display: flex;
      justify-content: center;
    }
  }
  
  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li
    {
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
  //   #showcase h1{
  //     margin-top:40px;
  //   }
  
  //   #newsletter button, .quote button{
  //     display:block;
  //     width:100%;
  //   }
  
  //   #newsletter form input[type="email"], .quote input, .quote textarea{
  //     width:100%;
  //     margin-bottom:5px;
  //   }
  }
  