$PrimaryColor: #e8491d;

.main-container {
  padding-top: 40px;
}

.ringtone-grid {
  display: grid;
  justify-items: center;
  max-width: 1356px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

.ringtone-container {
  position: relative;
  height: 480px;
  width: 320px;
  border: 2px solid white;
  border-radius: 6%;
}

img {
  border-radius: 6%;
  z-index: -1;
  opacity: 0.5;
}

img:hover {
  opacity: 1;
}

.ringtone-title {
  position: fixed;
  margin: auto;
}

.play-button {
  color: #FFF;
  position: absolute;
  background: rgba(178, 202, 230, 0.2);
  top: 41%;
  right: 41%;
  border: 2px solid #FFF;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
    border: 2px solid $PrimaryColor;
    color: $PrimaryColor;
  }
}

*:focus {
  outline: none !important;
}

.download-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  opacity: 0.6;
  padding: 4px;
  border: 2px solid $PrimaryColor;
  font-size: 20px;
  color: #fff;
  background: rgba(64, 127, 199, 0.1);
  &:hover {
    opacity: 1;
  }
}

.MuiButton-containedSizeLarge {
  padding: 8px 22px;
  font-size: 0.9375rem;
}

@media (max-width: 1375px) {
  .ringtone-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
